body {
  font-family: 'Open Sans', sans-serif;
}

header {
  text-align: justify;
}

header::after {
  content: '';
  display: inline-block;
  width: 100%;
}

h1 {
  font-size: 35px;
  display: inline-block;
}

nav {
  display: inline-block;
}

a {
  font-size: 15px;
  color: #101010;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 42px;
}

